# ─────────────────────────────────────────────────────────────
# Brent Crude Oil Price Forecasting
# MSc Data Science | Name: Uche Nlemadim | Module: UFCF9Y-60-M
# UWE Bristol 2024-25
# Install: pip install -r requirements.txt
# ─────────────────────────────────────────────────────────────

pandas==3.0.3
numpy==2.4.6
matplotlib==3.10.9
seaborn==0.13.2
scikit-learn==1.9.0
xgboost==3.2.0
statsmodels==0.14.6
pmdarima==2.1.1
joblib==1.5.3
pyyaml==6.0.3
ipykernel==7.2.0
openpyxl==3.1.5
scipy==1.17.1
streamlit==1.58.0
plotly==6.8.0
